@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    font-size: 10px;
}

html {
    scroll-behavior: smooth;
}

body {


    --main-bg-color: #5f7d95;
    --first-bg-color: #4ad395;
    --second-bg-color: #009d73;
    --third-bg-color: #374957;
    --fourth-bg-color: #0b2239;
    --fifth-bg-color: rgba(74, 210, 149, .5);
    --sixth-bg-color: #FFF;
    --seventh-bg-color: #009d73;
    --eight-bg-color: #2bc48a;
    --second-font-color: #f8fafb;
    --first-font-color: #000;
    --ninth-bg-color: #EEE;
    --first-red-color: #C00;
    --rodo-bg-color: #f8fafb;
    --basic-bg-color: RGBA(221, 221, 221, 0.3);
    --gradient-first-color: rgba(250, 250, 250, 0.7);
    --gradient-second-color: rgba(222, 222, 222, 0.6278886554621849);
    --gradient-third-color: rgba(190, 190, 190, 0.7);
    --gradient-fourth-color: rgba(220, 220, 220, 0.7);
    --gradient-fifth-color: rgba(190, 190, 190, 0.6278886554621849);
    --gradient-sixth-color: rgba(160, 160, 160, 0.7);

    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 500px;
    background-position: center;
    background-size: cover;
    color: var(--first-font-color);
    background-color: RGBA(0, 0, 0, 0.01);

}

body.dark {

    --main-bg-color: #5f7d95;
    --first-bg-color: #4ad395;
    --second-bg-color: #009d73;
    --third-bg-color: #374957;
    --fourth-bg-color: #0b2239;
    --fifth-bg-color: rgba(74, 210, 149, .5);
    --sixth-bg-color: #f8fafb;
    --seventh-bg-color: #009d73;
    --eight-bg-color: #2bc48a;
    --second-font-color: #f8fafb;
    --first-font-color: #EDEDED;
    --ninth-bg-color: #111;
    --first-red-color: #C00;
    --rodo-bg-color: #444;
    --basic-bg-color: RGBA(35, 35, 35, 0.8);
    --gradient-first-color: rgba(128, 128, 128, 0.7);
    --gradient-second-color: rgba(68, 68, 68, 0.6278886554621849);
    --gradient-third-color: rgba(25, 25, 25, 0.7);
    --gradient-fourth-color: rgba(100, 100, 100, 0.7);
    --gradient-fifth-color: rgba(70, 70, 70, 0.6278886554621849);
    --gradient-sixth-color: rgba(25, 25, 25, 0.7);
    background-color: RGBA(0, 0, 0, 0.8);
}

/* general */
.PL {
    color: yellow;
}

h2 {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    padding-top: 3vh;
    margin: 0 2vw;
    border-bottom: 2px solid var(--first-bg-color);
}

article {
    margin-top: 0;
    margin-bottom: 0vh;
    padding-bottom: 5vh;
    padding-top: 5vh;
}



div.strefaI,
div.strefaII,
div.iskrobezpieczne,
div.seria-ogolna {
    padding-top: 1.5vh;
}

@media (min-width: 360px) {}

@media (min-width: 600px) {
    h2 {
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        padding-top: 3vh;
        margin: 0 2vw;
        border-bottom: 2px solid var(--first-bg-color);
    }
}

@media (min-width: 1024px) {
    h2 {
        font-size: 2.1rem;
    }
}

@media (min-width: 1440px) {
    h2 {
        font-size: 2.2rem;
    }
}

h3 {
    font-weight: bold;
    margin: 3vh 2vw;
    font-size: 1.4rem;
    text-align: center;
    border-bottom: 1px solid var(--first-bg-color);
}

@media (min-width: 360px) {}

@media (min-width: 600px) {
    h3 {
        font-size: 1.8rem;
    }
}

@media (min-width: 1024px) {
    h3 {
        font-size: 1.9rem;
    }
}

@media (min-width: 1440px) {
    h3 {
        font-size: 2rem;
    }
}

h4 {
    font-weight: bold;
    margin: 3vh 2vw;
    font-size: 1.4rem;
    text-align: center;
    border-bottom: 1px solid var(--first-bg-color);
}

@media (min-width: 360px) {}

@media (min-width: 600px) {
    h4 {
        font-size: 1.6rem;
    }
}

@media (min-width: 1024px) {
    h4 {
        font-size: 1.7rem;
    }
}

@media (min-width: 1440px) {
    h4 {
        font-size: 1.8rem;
    }
}

p {
    margin: 1vh 2vw;
    font-size: 1.2rem;
    text-align: justify;
}

@media (min-width: 360px) {}

@media (min-width: 600px) {
    p {
        margin: 2vh 5vw;
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    p {
        margin: 2vh 4vw;
        font-size: 1.6rem;
    }
}

@media (min-width: 1440px) {
    p {
        margin: 1vh 2vw;
        font-size: 1.7rem;
    }
}

ul {
    margin-right: 4vw;
}

div.item ul {
    margin-right: 0;
}

div li a {
    text-decoration: none;
    color: var(--second-font-color);
}

li {
    list-style: none;
    font-size: 1.2rem;
    text-align: justify;
    margin-left: 8vw;
}

li:before {
    content: "> ";
    font-weight: bold;
    color: var(--first-red-color);
}

@media (min-width: 360px) {}

@media (min-width: 600px) {
    li {
        margin-left: 7vw;
    }
}

@media (min-width: 1024px) {
    li {
        font-size: 1.4rem;
        margin-left: 6vw;
    }
}

@media (min-width: 1440px) {
    li {
        font-size: 1.6rem;
    }
}

main div a {
    color: var(--first-font-color);
    margin: 1vh 2vw;
    font-size: 1.2rem;
    text-align: justify;
    text-transform: uppercase;
}

div a:hover {
    color: var(--third-bg-color);
}

.max200 {
    display: none;
}

.text {
    opacity: 1;
}

/*splash - welcome screen */

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 20vh;
    background-color: black;
    z-index: 100;
    color: white;
    text-align: center;
    line-height: 20vh;
    transition: all 2s;
}

.splash.display-none {
    z-index: -100;
    opacity: 0;
    transition: all 2s;
}


.fade-in {
    font-size: 1.4rem;
    opacity: 0;
    animation: fadeInOut 2s ease-in forwards;
    border-bottom: none;
}

h1.fade-in {
    color: var(--first-red-color);
    font-size: 1.4rem;
}

@media (min-width: 360px) {
    .fade-in {
        font-size: 2.1rem;
    }

    h1.fade-in {
        font-size: 2.1rem;
    }
}

@media (min-width: 600px) {
    .fade-in {
        font-size: 3.5rem;
    }

    h1.fade-in {
        font-size: 3.5rem;
    }
}

@media (min-width: 1024px) {
    .fade-in {
        font-size: 4rem;
    }

    h1.fade-in {
        font-size: 4rem;
    }
}

/* language chooser */

.lang-chooser {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 20vh;
    background-color: black;
    z-index: 99;
    color: white;
    text-align: center;
    line-height: 20vh;
}

.lang-img-wrap {
    position: fixed;
    display: flex;
    top: 50vh;
    left: 50vw;
    padding-top: 20vh;
    transform: translate(-50%, -50%);
    width: 60vw;
    justify-content: space-around;
    animation: fadeIn2 1.6s 1.9s ease-in forwards;
}

.lang-img img {
    height: 12vw;
    width: 12vw;
    opacity: 0;
    animation: fadeIn2 1.6s 2s ease-in forwards;
}

.lang-img img:hover {
    cursor: pointer;
    opacity: 1;
}

.fade-in2 {
    font-size: 1.5rem;
    opacity: 0;
    animation: fadeIn 2s 1.9s ease-in forwards;
}


@media (min-width: 360px) {
    .lang-img-wrap {
        width: 50vw;
    }

    .lang-img img {
        height: 12vw;
        width: 12vw;
    }

    .fade-in2 {
        font-size: 2rem;
    }
}

@media (min-width: 600px) {
    .lang-img-wrap {
        width: 55vw;
    }

    .lang-img img {
        height: 15vw;
        width: 15vw;
    }

    .fade-in2 {
        font-size: 3.8rem;
    }
}

@media (min-width: 1024px) {
    .lang-img img {
        height: 12vw;
        width: 12vw;
    }

    .fade-in2 {
        font-size: 4.2rem;
    }
}

@media (min-width: 1200px) {
    .lang-img img {
        height: 8vw;
        width: 8vw;
    }

    .fade-in2 {
        font-size: 5rem;
    }
}


@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* header */

header {
    flex-basis: 12vh;
    position: relative;
    background-color: var(--fourth-bg-color);
    background-image: url("../img/Logo_Sealab-1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 70%;
    overflow: hidden;
}

header div.lang_choice {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    display: block;
}

header div.lang_choice p {
    margin: 0 1vw;
    color: var(--fourth-bg-color);
    font-size: 0.8rem;
    display: block;
}

header div.lang_choice {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    height: 2rem;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-size: 1.6rem;
    display: none;
    margin-top: 1vh;
    transition: 0.3s;
}

header div.lang_choice p {
    color: var(--first-bg-color);
    display: block;
    line-height: 2rem;
    font-size: 2rem;

}

header div.lang_choice p a {
    color: var(--sixth-bg-color);
    text-decoration: none;
    opacity: 0.45;
    transition: 0.3s;
}

header div.lang_choice p a:hover {
    color: white;
    opacity: 0.95;
}

header div.lang_choice p a.lang-active {
    color: var(--sixth-bg-color);
    font-weight: bold;
    opacity: 0.85;
    transition: 0.3s;
}

header div.lang_choice p a.lang-active:hover {
    opacity: 1;
}

.theme-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    left: 1vw;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--first-bg-color);
    width: 4vw;
    min-width: 33px;
    max-width: 45px;
    height: auto;
    padding: 0.5vh 0.5vw;
    grid-gap: 1vh;
    border-radius: 5px;
    background-color: var(--third-bg-color);
    z-index: 29;
    cursor: pointer;
    transition: 0.3s;
}

.theme-container:hover {

    background-color: var(--main-bg-color);
}


.light-mode svg {
    fill: white;
    transition: 0.3s;
}

.animation-container {
    display: none;
}

.animation-container:hover .amimation {
    color: var(--fourth-bg-color);
}

.animation-container:hover {
    background-color: var(--eight-bg-color);
    border-color: var(--fourth-bg-color);
}

.amimation {
    color: var(--eight-bg-color);
    padding-right: 5px;
}

.animation-state {
    font-weight: bold;
    font-size: 1.6rem;
}

@media (min-width: 360px) {
    header {
        flex-basis: 14vh;
    }

    header div.lang_choice {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        color: white;
        font-size: 1rem;
        display: none;
    }

    .animation-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 7vh;
        right: 20px;
        width: 75px;
        min-width: 50px;
        height: 44px;
        min-height: 10px;
        z-index: 29;
        font-size: 1.2rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid var(--eight-bg-color);
        padding: 3px 5px;
        line-height: 24px;
        border-radius: 4px;
        background-color: var(--fourth-bg-color);
        transition: 0.2s;
    }

}

@media (min-width: 600px) {
    header {
        flex-basis: 14vh;
    }

    header div.lang_choice {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        color: white;
        font-size: 1rem;
        display: none;
    }

    .animation-container {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 8vh;
        right: 20px;
        width: 110px;
        min-width: 50px;
        height: 30px;
        min-height: 10px;
        z-index: 29;
        font-size: 1.3rem;
        justify-content: space-between;
        cursor: pointer;
        border: 1px solid var(--eight-bg-color);
        padding: 3px 5px;
        line-height: 24px;
        border-radius: 4px;
        background-color: var(--fourth-bg-color);
    }

    .amimation {
        color: var(--eight-bg-color);
        padding-right: 5px;
    }

    .animation-state {
        font-weight: bold;
        font-size: 1.6rem;
    }
}

@media (min-width: 800px) {
    header {
        flex-basis: 14vh;
    }

    header div.lang_choice {
        display: flex;
    }
}

@media (min-width: 1024px) {
    header {
        flex-basis: 14vw;
    }

    header div.lang_choice {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        color: white;
        font-size: 1rem;
        display: block;
    }

    .animation-container {

        top: 10vh;

    }
}

@media (min-width: 1200px) {
    header {
        flex-basis: 12vw;
    }
}

@media (min-width: 1440px) {
    header {
        flex-basis: 10vw;
    }

    header div.lang_choice {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        color: white;
        font-size: 1rem;
        display: block;
    }
}

@media (orientation: landscape) {
    header {
        flex-basis: 42vh;
    }
}

@media (min-width: 360px) and (orientation: landscape) {
    header {
        flex-basis: 37vh;
    }
}

@media (min-width: 600px) and (orientation: landscape) {
    header {
        flex-basis: 36vh;
    }
}

@media screen and (min-width: 360px) and (orientation: landscape) {
    header {
        flex-basis: 18vh;
    }
}

@media screen and (min-width: 600px) and (orientation: landscape) {
    header {
        flex-basis: 18vh;
    }
}

/* banner */

section div.banner {
    display: none;
}


@media (min-width: 360px) {}

@media (min-width: 600px) {}

@media (min-width: 1024px) {
    section div.banner {
        display: block;
        position: relative;
        height: 55vh;
        margin: 2vh auto 2vh auto;
        overflow: hidden;
    }

    section div.banner img {
        opacity: 0;
        height: 55vh;
        /*animation: banner 10s linear infinite;*/
    }

    .banner-slider {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 70vh;
        opacity: 0;
    }

    .h1-slider {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: banner 9s linear infinite;
    }

    .dots {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        width: 20%;
        justify-content: space-around;
    }

    .dots span {
        border: var(--ninth-bg-color) 2px solid;
        border-radius: 50%;
        height: 1vw;
        width: 1vw;
    }

    .dots span:hover {
        border: var(--eight-bg-color) 2px solid;
        background-color: var(--fourth-bg-color);
    }

    .dots .dots-active {
        background-color: var(--fifth-bg-color);
        animation: banner2 9s linear infinite;
    }

    .dots span.dots-active:hover {
        background-color: var(--fifth-bg-color);
    }

    @keyframes banner {
        0% {
            opacity: 0;
        }

        1%{
            opacity: 0;
        }

        15% {
            opacity: 0.6;
        }

        25% {
            opacity: 1;
        }

        80% {
            opacity: 1;
        }

        85% {
            opacity: 0.6;
        }

        99%{
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes banner2 {
        0% {
            background-color: var(--sixth-bg-color);
        }

        10% {
            background-color: var(--second-font-color);
        }

        20% {
            background-color: var(--fifth-bg-color);
        }

        80% {
            background-color: var(--fifth-bg-color);
        }

        90% {

            background-color: var(--second-font-color);
        }

        100% {
            background-color: var(--sixth-bg-color);
        }
    }
}

/* arrow */

div.arrow {
    position: fixed;
    bottom: calc(15px + 4vh);
    right: 30px;
    font-size: 4rem;
    line-height: 2rem;
    width: 3.5rem;
    padding: 0.8rem;
    text-align: center;
    border-radius: 10%;
    color: var(--first-bg-color);
    z-index: 21;
    opacity: 0.7;
    cursor: pointer;
    display: none;
}

div.arrow:hover {
    color: var(--first-bg-color);
    opacity: 1;
}

/* burger */

div.burger {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    line-height: 2rem;
    width: 3.5rem;
    padding: 0.8rem;
    text-align: center;
    border: 1px solid var(--first-bg-color);
    border-radius: 10%;
    color: var(--first-bg-color);
    z-index: 31;
    background-color: transparent;
    opacity: 0.6;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}

div.burger:hover {
    opacity: 1;
}

.burger i.fas {
    display: none;
}

.burger i.show {
    display: block;
}

/*.burger:hover i {
    color: var(--first-red-color);
}*/

@media (min-width: 360px) {
    div.burger {
        display: block;
    }
}

@media (min-width: 800px) {
    div.burger {
        display: none;
    }
}

/* nav */
nav {
    transition: 0.4s;
    display: flex;
    z-index: 30;
}

nav > aside {
    position: fixed;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    flex-basis: 15vh;
    width: 100vw;
    margin: 0 auto;
    top: -75vh;
    left: 0;
    z-index: 30;
    transition: 1s linear;
}

aside.show {
    top: 0;
    z-index: 30;
}

nav > aside > ul li:nth-of-type(1) {
    border-top: 2px solid var(--main-bg-color);
    margin-left: 0;
}

nav > aside > ul {
    margin-right: 0;
}

nav > aside > ul li {
    padding: 0.5vh 0;
    list-style: none;
    background-color: var(--third-bg-color);
    border-bottom: 2px solid var(--main-bg-color);
    color: var(--second-font-color);
    font-size: 1.4rem;
    cursor: pointer;
    text-align: center;
    margin-left: 0;
    transition: 0.3s;
}

nav > aside > ul li:before {
    content: "";

}

nav > aside > ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--second-font-color);
    display: block;
    transition: 0.3s;
}

nav > aside > ul li:hover {
    background-color: var(--main-bg-color);
}

nav > aside > ul li.active {
    background-color: var(--fourth-bg-color);
    transition: 0.3s;
}

nav > aside > ul li.active a {
    color: var(--first-bg-color);
}

nav > aside > ul li.active:hover {
    background-color: var(--main-bg-color);
}

@media (orientation: landscape) {
    nav > aside {
        top: -75vh;
    }
}

@media (min-width: 360px) and (orientation: landscape) {
    nav > aside {
        top: -50vh;
    }
}

/* main nav */

section > div nav {
    /* max-width: 1280px; */
    margin: 0 auto 0 auto;
    background-color: var(--first-bg-color);
    display: none;
}

section > div nav ul {
    display: flex;
    width: 88.5%;
    height: 5rem;
    max-width: 1280px;
    margin: 0 auto 0 auto;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    margin: 0 auto 0 auto;

}

section > div nav ul li {
    list-style: none;
    background-color: transparent;
    display: block;
    height: 5rem;
    width: 16%;
    margin-left: 0;
    font-size: 2rem;
    text-align: center;
    padding: 5px 0 5px 0;
    text-transform: uppercase;
    position: relative;
    border-radius: 2%;
    transition: 0.4s;
}

section > div nav ul li:before {
    content: "";
}

section > div nav ul li a {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 5rem;
    line-height: 5rem;
}

section > div nav ul li a {
    color: var(--sixth-bg-color);
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 5rem;
}

section > div nav ul li:nth-child(2) a {
    line-height: 5rem;
}

section > div nav ul li:hover {
    background-color: var(--eight-bg-color);
}

section > div nav ul li:hover a {
    color: var(--sixth-bg-color);
}

section > div nav ul li.nav-active {
    background-color: var(--seventh-bg-color);
}

section > div nav ul li.nav-active a {
    color: var(--sixth-bg-color);
}

section > div nav ul li.nav-active:hover {
    background-color: var(--eight-bg-color);
}

section > div nav ul li.nav-active:hover a {
    color: var(--sixth-bg-color);
}

@media (min-width: 360px) {
    section > div nav {
        display: none;

    }

}

@media (min-width: 800px) {
    section > div nav {
        display: block;

    }

    section > div nav ul li {
        font-size: 1.1rem;
    }

    section > div nav ul li:nth-child(2) a {
        font-size: 1.1rem;
    }
}

section > div nav ul {
    width: 99.5%;
}

@media (min-width: 1024px) {
    section > div nav ul li {
        font-size: 1.3rem;
    }

    section > div nav ul li:nth-child(2) a {
        font-size: 1.3rem;
    }
}

@media (min-width: 1440px) {
    section > div nav ul li {
        font-size: 1.6rem;
    }

    section > div nav ul li:nth-child(2) a {
        font-size: 1.6rem;
        line-height: 5rem;
    }
}


/* inside menu */

nav.inside-menu,
nav.e25-menu {
    width: 98%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

nav.inside-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fix {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav.inside-menu div,
nav.e25-menu div {
    width: 24%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 2px solid var(--second-font-color);
    background-color: var(--fourth-bg-color);
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

nav.inside-menu div {
    width: 90%;
}

nav.inside-menu div:hover,
nav.e25-menu div:hover {
    background-color: var(--fourth-bg-color);
}

nav.inside-menu div:hover p,
nav.e25-menu div:hover p {
    color: var(--first-bg-color);
}

nav.inside-menu div p,
nav.e25-menu div p {
    color: var(--second-font-color);
    padding: 1vh 3vw 1vh 0;
    text-align: center;
    font-size: 1rem;
}

nav.inside-menu div p {
    font-size: 1.6rem;
}

nav.inside-menu div p {
    color: var(--sixth-bg-color);
    padding: 1vh 0 1vh 0;
}

nav.inside-menu div:nth-last-child(1) p,
nav.e25-menu div:nth-last-child(1) p {
    border-right: none;
    padding-right: 0;
}

nav.e25-menu div.active-menu p {
    text-decoration: none;
    font-weight: bold;
    color: var(--first-bg-color);
}

nav.e25-menu div.active-menu {
    background-color: var(--fourth-bg-color);
}

@media (min-width: 360px) {}

@media (min-width: 600px) {}

@media (min-width: 1024px) {
    nav.inside-menu {
        width: 98%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    nav.inside-menu div {
        width: 19%;
    }
}

/* inside product menu */

nav.e25-menu {
    display: flex;
    margin: 0;
}

.fix {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

nav.e25-menu div {
    width: 24%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 2px solid var(--second-font-color);
    background-color: var(--fourth-bg-color);
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

nav.e25-menu div:hover {
    background-color: var(--fourth-bg-color);
}

nav.e25-menu div:hover p {
    color: var(--first-bg-color);
}

nav.e25-menu div p {
    color: var(--sixth-bg-color);
    padding: 1vh 3vw 1vh 0;
    text-align: center;
    font-size: 1rem;
}

nav.e25-menu div:nth-of-type(3) p {
    font-size: 0.5rem;
    padding: 1vh 0.5vw 1vh 0.5vw;
}

nav.e25-menu div:nth-last-child(1) p {
    border-right: none;
    padding-right: 0;
}

nav.e25-menu div.active-menu p {
    text-decoration: none;
    font-weight: bold;
    color: var(--first-bg-color);
}

nav.e25-menu div.active-menu {
    background-color: var(--fourth-bg-color);
}

@media (min-width: 360px) {
    nav.e25-menu div p {
        font-size: 1.1rem;
    }

    nav.e25-menu div:nth-of-type(3) p {
        font-size: 0.8rem;
        padding: 1vh 1vw 1vh 0;
    }
}

@media (min-width: 600px) {

    nav.e25-menu div p {
        font-size: 1.3rem;
    }

    nav.e25-menu div:nth-of-type(3) p {
        font-size: 1.2rem;
        padding: 1vh 0.5vw 1vh 0.5vw;
    }
}

@media (min-width: 1024px) {
    nav.e25-menu div p {
        font-size: 1.5rem;
    }

    nav.e25-menu div:nth-of-type(3) p {
        font-size: 1.4rem;
    }
}

@media (min-width: 1440px) {
    nav.e25-menu div p {
        font-size: 1.7rem;
    }

    nav.e25-menu div:nth-of-type(3) p {
        font-size: 1.7rem;
    }
}

/* main */



section main {
    max-width: 1280px;
    margin: 1vh auto 1vh auto;
    padding: 2vh 0;
}

/* klienci */

section.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

section.clients > div {
    background-color: transparent;
    padding: 20px;
    text-transform: uppercase;
    margin: 20px auto;
    font-size: 12px;
    flex-basis: 70%;
    align-self: center;
    justify-self: center;
    text-align: center;
    display: grid;
    flex-direction: column;
    border-radius: 2%;
    min-height: 40vh;
    box-shadow: 0 0 2px 2px var(--main-bg-color);
    overflow: hidden;
    transition: 0.3s;
}

section.clients > div:hover {
    box-shadow: 0 0 2px 2px var(--fourth-bg-color);
}

section.clients > div > img {
    visibility: visible;
    align-self: center;
    justify-self: center;
    transition: 0.3s;
}

section.clients > div:hover img {
    transform: scale(1.1);
}

section.clients > div > p {
    visibility: visible;
    text-align: center;
    padding: 5px;
}

.fotos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 1vh;
}

.fotos img {
    min-width: 30%;
    padding: 1vh 2vw;
}

.files1 {
    width: 80%;
    margin: 0 auto;
    -webkit-border-bottom-right-radius: 9px;
    -webkit-border-bottom-left-radius: 9px;
    -moz-border-radius-bottomright: 9px;
    -moz-border-radius-bottomleft: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -webkit-border-top-left-radius: 9px;
    -moz-border-radius-topright: 9px;
    -moz-border-radius-topleft: 9px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}

.files1 h3 {
    text-align: center;
    width: 90%;
    text-transform: capitalize;
}


.files1__wrap {
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
    row-gap: 1vh;
    column-gap: 1vw;
    width: 100%;
    margin: 0 auto;
    padding: 1vh 0;
}

.files1__wrap div {
    display: flex;
    justify-content: center;
    flex-basis: 30%;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

.files1__wrap div a {
    background-color: var(--first-bg-color);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1vh 1vw;
    transition: 0.5s;
    color: var(--sixth-bg-color);
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 1px 1px 2px 0px rgb(0 0 0 / 78%);
}

.files1__wrap div a:hover {
    color: var(--sixth-bg-color);
    background-color: var(--eight-bg-color);
}


@media (min-width: 360px) {}

@media (min-width: 600px) {
    section.clients > div {
        padding: 20px;
        margin: 20px auto;
        font-size: 14px;
        flex-basis: 45%;
    }

}

@media (min-width: 1024px) {
    section.clients > div {
        padding: 20px;
        margin: 20px auto;
        font-size: 12px;
        flex-basis: 30%;
    }
}

@media (min-width: 1440px) {
    section.clients > div {
        padding: 20px;
        text-transform: uppercase;
        margin: 20px auto;
        font-size: 14px;
        flex-basis: 22%;
        align-self: center;
        justify-self: center;
        text-align: center;
        display: grid;
        flex-direction: column;
    }
}

/* certyfikaty */

section.certificates {
    display: flex;
    flex-direction: column;
}

section.certificates div.cert-wrap {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

section.certificates div.cert-wrap > div {
    position: relative;
    padding: 20px;
    text-transform: uppercase;
    margin: 20px auto;
    font-size: 12px;
    flex-basis: 70%;
    align-self: center;
    justify-self: center;
    text-align: center;
    display: grid;
    flex-direction: column;
    min-height: 40vh;
    border-radius: 2%;
    box-shadow: 0 0 2px 2px var(--main-bg-color);
    overflow: hidden;
    transition: 0.3s;
}

section.certificates div.cert-wrap > div:hover {
    box-shadow: 0 0 2px 2px var(--fourth-bg-color);
}

section.certificates div.cert-wrap img {
    text-align: center;
    transform: scale(0.9);
    visibility: visible;
    transition: 0.3s;
}

section.certificates div.cert-wrap > div:hover img {
    transform: scale(1.0);
}

section.certificates div.cert-wrap p {
    text-align: center;
    font-size: 1.4rem;
    visibility: visible;
}

section.certificates div.cert-wrap p.p-text {
    position: absolute;
    width: 80%;
    font-size: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
    visibility: visible;
}

.files2__wrap {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: nowrap;
    row-gap: 1vh;
    column-gap: 1vw;
    width: 100%;
    min-height: 65%;
    margin: 0 auto;
    padding: 1vh 0;
}

.files2__wrap div {
    display: flex;
    justify-content: center;
    flex-basis: 70%;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 2;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.78);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.78);
}

.files2__wrap div a {
    background-color: var(--first-bg-color);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1vh 1vw;
    transition: 0.5s;
    overflow: hidden;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: var(--sixth-bg-color);
}

.files2__wrap div a:hover {
    color: var(--sixth-bg-color);
    background-color: var(--eight-bg-color);
}

.dl {
    margin: 0;
}

@media (min-width: 360px) {
    section.certificates div.cert-wrap > div {
        padding: 20px;
        margin: 20px auto;
        font-size: 12px;
        flex-basis: 70%;
    }

    section.certificates div.cert-wrap p {
        text-align: center;
        font-size: 1.6rem;
    }

    section.certificates div.cert-wrap p.p-text {
        position: absolute;
        width: 80%;
        font-size: 1.8rem;
        top: 50%;
        transform: translateY(-50%);
        visibility: visible;
    }

    section.certificates div.cert-wrap a {
        text-align: center;
        font-size: 1.6rem;
    }
}

@media (min-width: 600px) {
    section.certificates div.cert-wrap > div {
        padding: 20px;
        margin: 20px auto;
        font-size: 12px;
        flex-basis: 45%;
    }

    section.certificates div.cert-wrap p {
        text-align: center;
        font-size: 1.6rem;
    }

    section.certificates div.cert-wrap p.p-text {
        position: absolute;
        width: 80%;
        font-size: 1.8rem;
        top: 50%;
        transform: translateY(-50%);
        visibility: visible;
    }

    section.certificates div.cert-wrap a {
        text-align: center;
        font-size: 1.6rem;
    }

}

@media (min-width: 1024px) {
    section.certificates div.cert-wrap > div {
        padding: 20px;
        margin: 20px auto;
        font-size: 12px;
        flex-basis: 30%;
    }

    section.certificates div.cert-wrap p {
        text-align: center;
        font-size: 1.6rem;
    }

    section.certificates div.cert-wrap p.p-text {
        position: absolute;
        width: 80%;
        font-size: 1.8rem;
        top: 50%;
        transform: translateY(-50%);
        visibility: visible;
    }

    section.certificates div.cert-wrap a {
        text-align: center;
        font-size: 1.6rem;
    }
}

@media (min-width: 1440px) {
    section.certificates div.cert-wrap > div {
        padding: 20px;
        margin: 20px auto;
        font-size: 12px;
        flex-basis: 22%;
    }

    section.certificates div.cert-wrap p {
        text-align: center;
        font-size: 1.6rem;
    }

    section.certificates div.cert-wrap p.p-text {
        position: absolute;
        width: 80%;
        font-size: 1.8rem;
        top: 50%;
        transform: translateY(-50%);
        visibility: visible;
    }

    section.certificates div.cert-wrap a {
        text-align: center;
        font-size: 1.6rem;
    }
}

/* kontakt */
div.contact,
div.contact p,
div.contact i {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

div.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    margin: 0 auto 0 auto;
}

div.adress,
div.online-contact {
    width: 90%;
    flex-basis: unset;
    border-top: unset;
    margin: 2vh 2vw;
}

div.adress {
    display: flex;
}

div.adress i {
    padding-top: 10px;
}

div.adress div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


div.adress,
div.online-contact {

    padding: 20px;
    flex-basis: 40%;
    flex-shrink: 0;
}

div.online-contact {
    border-left: none;
    align-self: flex-start;
}

div.adress {
    display: flex;
    align-self: flex-start;
}

div.adress i {
    padding-top: 10px;
    color: var(--first-bg-color);
}

div.adress:hover i {
    color: var(--eight-bg-color);
}

div.adress div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.contact-data {
    display: flex;
}

div.contact-data i {
    align-self: center;
    color: var(--first-bg-color);
}

div.contact-data:hover i {
    color: var(--eight-bg-color);
}

div.contact-data p {
    align-self: center;
}

main .fas {
    display: block;
}

.map-wrap {
    display: flex;
    flex-direction: column;
    font-size: 1.9rem;
}

.map-wrap p,
.map-wrap i {
    font-size: 1.9rem;
}

.map-wrap i {
    font-size: 1.9rem;
    color: var(--first-bg-color);
}

.map-wrap:hover i {
    color: var(--first-red-color);
    color: var(--eight-bg-color);
}

div.map {
    width: 100%;
    height: 60vh;
}

div.map div iframe {
    height: 58vh;
}

.map-data {
    display: flex;
    padding: 20px 20px 20px 50px;
}

div.map iframe {
    margin: 0 5% 0 5%;
    width: 90%;
    border: none;
    box-shadow: -1px 1px 17px 7px rgba(0, 0, 0, 0.65);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

@media (min-width: 360px) {

    div.adress,
    div.online-contact {
        width: 90%;
    }

    div.contact,
    div.contact p,
    div.contact i {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.2rem;
    }

    div.contact {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto 0 auto;
    }

    div.online-contact {
        border-left: none;
    }

    div.online-contact {
        align-self: flex-start
    }
}

@media (min-width: 600px) {

    div.adress,
    div.online-contact {
        width: 50%;
    }

    div.contact,
    div.contact p,
    div.contact i {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.5rem;
    }

    div.contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto 0 auto;
    }

    div.online-contact {
        border-top: none;
    }

    div.online-contact {
        align-self: flex-start
    }
}

@media (min-width: 1024px) {

    div.contact,
    div.contact p,
    div.contact i {
        flex-direction: row;
        font-size: 1.7rem;
    }
}

@media (min-width: 1440px) {

    div.contact,
    div.contact p,
    div.contact i {
        font-size: 1.9rem;
    }
}

/* produkty */

div.section-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    padding: 2vh 0;
    row-gap: 3vh;
}

.item {
    display: flex;
    padding: 0 5vw;
}

.item-wrap1 {
    width: 40%;
    z-index: 2;
    min-width: 320px;
    display: grid;
    border-radius: 2%;
    -webkit-box-shadow: 0 0 2px 2px var(--main-bg-color);
    box-shadow: 0 0 2px 2px var(--main-bg-color);
    overflow: hidden;
    transition: 0.3s;
}

.item-wrap1:hover {
    box-shadow: 0 0 2px 2px var(--fourth-bg-color);
    -webkit-box-shadow: 0 0 2px 2px var(--fourth-bg-color);
}

.item-wrap__title-wrap {
    background: var(--fourth-bg-color);
    /*background: linear-gradient(45deg, var(--gradient-first-color) 0%, var(--gradient-second-color) 79%, var(--gradient-third-color) 100%);*/
    z-index: 0;
    /*border: solid 2px black;*/
    /*border-bottom: solid 1px black;*/
    /*-webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--sixth-bg-color);
}

/*.item-wrap__title-wrap:hover {
    background-color: var(--third-bg-color);
}*/

.files {
    position: relative;
    /*border: solid 2px black;
    -webkit-border-bottom-right-radius: 9px;
    -webkit-border-bottom-left-radius: 9px;
    -moz-border-radius-bottomright: 9px;
    -moz-border-radius-bottomleft: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;*/
    /*border-top: solid 1px black;*/
    /*background-color: var(--main-bg-color);
    background: linear-gradient(45deg, var(--gradient-first-color) 0%, var(--gradient-second-color) 79%, var(--gradient-third-color) 100%);*/
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(minmax(1fr, auto) 1fr);
    justify-content: space-around;
    text-align: center;
    padding: 1vh 1vw;
    overflow: hidden;
}

.files__item {
    text-align: center;
    /*border: 1px solid black;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: var(--first-bg-color);
    transition: 0.5s;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.78);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.78);
    overflow: hidden;
    margin: 2px 4px;
    padding: 1vh 1vw;
}

.files__link {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--sixth-bg-color);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.files__text {
    margin: 0;
}

.files__item:hover {
    background-color: var(--eight-bg-color);
}

.files__item:hover .files__link {
    color: white;
}

.item1 {
    padding: 1vh 0;
    min-height: fit-content;
    position: relative;
    display: grid;
    grid-template-columns: 4fr 7fr;
    /*border-right: 2px solid black;
    border-left: 2px solid black;*/
    background-color: transparent;
    /*background: linear-gradient(45deg, var(--gradient-first-color) 0%, var(--gradient-second-color) 79%, var(--gradient-third-color) 100%);*/

}

.item__container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(100, 100, 100, 0.6);
    clip-path: polygon(0 51%, 100% 98%, 100% 100%, 0 100%, 0 51%);
    transition: clip-path 1s, background-color 0.6s;
}

.item-wrap1:hover .item__container {
    background-color: rgba(90, 90, 90, 0.6);
    clip-path: polygon(0 0, 100% 66%, 100% 100%, 0 100%, 0 0);
}

.item__img-wrap {
    width: 100%;
    display: grid;
    min-height: 20vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.item__img {
    max-width: 100%;
    /*-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.78);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.78);*/
    transition: 0.3s;
}

.item-wrap1:hover .item__img {
    /*padding-bottom: 20px;*/
    transform: translateY(-3%);

}

.item__ul {
    list-style: none;
}

.item__li {
    opacity: 1;
    list-style: none;
    margin-left: 2vw;
}

.item__li::before {
    content: "> ";
    font-weight: bold;
    color: red;
}

.item__li:hover {
    color: var(--fourth-bg-color);
}

@media (min-width: 360px) {

    div.strefaI {
        margin-top: 2vh;
    }

    div.section-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: hidden;
    }


    .files__link {
        font-size: 0.4rem;
    }

}

@media (min-width: 600px) {


    div.strefaI {
        margin-top: 2vh;
    }

    div.section-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .files a {
        font-size: 1rem;
        margin: 0;
    }

}

@media (min-width: 1024px) {
    div.strefaI {
        margin-top: 2vh;
    }

    div.section-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .files a {
        font-size: 0.7rem;
        margin: 0;
        padding: 0 0.5vw;
    }


}

@media (min-width: 1440px) {

    div.strefaI {
        margin-top: 2vh;
    }

    div.section-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

/* footer */
.footer {
    display: grid;
    background-color: var(--fourth-bg-color);
}

.footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    gap: 5vw;
    max-width: 1280px;
    min-width: 60%;
    margin: 0 auto 0 auto;
    color: var(--sixth-bg-color);
}

.footer__coppy {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    color: var(--sixth-bg-color);
}

.footer__rodo {
    margin: 1vh auto;
    padding: 1vh 1vw;
    background-color: var(--fourth-bg-color);
    color: var(--sixth-bg-color);
    border: solid 2px var(--sixth-bg-color);
    border-radius: 2%;
    box-shadow: 0 -1px 2px #1a2027c9;
    transition: 0.3s;
    cursor: pointer;
}

.footer__rodo:hover {
    /*background-color: var(--main-bg-color);*/
    color: var(--eight-bg-color);
}

.footer__a {
    text-decoration: none;
    color: var(--sixth-bg-color);
}

.footer__a:hover {
    color: var(--eight-bg-color);
    transition: 0.3s;
}

.footer__coppy {
    display: grid;
    max-width: 1280px;
    min-width: 80%;
    margin: 0 auto 0 auto;
    justify-content: end;
}

.footer__coppy p {
    font-size: 1rem;
}

.footer__coppy a {
    text-decoration: none;
    color: var(--sixth-bg-color);
}

.footer__data {
    display: grid;
    justify-content: center;
    align-items: center;
}


@media (min-width: 360px) {}

@media (min-width: 600px) {}

@media (min-width: 1024px) {

    .footer p {
        font-size: 1.6rem;
    }

    .footer__rodo {
        font-size: 1.6rem;
    }

    .footer__coppy p {
        font-size: 1.1rem;
    }
}

@media (min-width: 1440px) {}

/* cookies */

.cookie-container {
    position: fixed;
    display: grid;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: #2f3640;
    color: #f5f6fa;
    padding: 0 32px;
    transition: 400ms;
    box-shadow: 0 -2px 16px #1a2027c9;
    z-index: 20;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: #f5f6fa;
    z-index: 20;
}

.button__container-cookie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    z-index: 20;
}

.cookie-container-button {
    min-width: 50%;
    max-width: max-content;
    background-color: #e84118;
    border: 0;
    color: #f5f6fa;
    padding: 1vh 1vw;
    font-size: 1.1rem;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 20;
}

.cookie-container-button:hover {
    background-color: #f5f6fa;
    color: #e84118;
}

.rodo {
    background-color: var(--second-font-color);
    max-width: 50%;
    border: 0;
    color: var(--eight-bg-color);
    padding: 1vh 1vw;
    font-size: 1.1rem;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 20;
}

.rodo:hover {
    background-color: var(--fifth-bg-color);
    color: var(--ninth-bg-color);
}

@media (min-width: 360px) {}

@media (min-width: 600px) {
    .cookie-container-button {
        font-size: 1.4rem;
    }

    .rodo {
        font-size: 1.4rem;
    }
}

@media (min-width: 1024px) {
    .cookie-container-button {
        font-size: 2rem;
    }

    .rodo {
        font-size: 2rem;
    }
}

@media (min-width: 1440px) {}


/*blur */
.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -2;
}

/*rodo*/


.rodo-text {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    /*background-color: transparent;
    background: linear-gradient(45deg, var(--gradient-first-color) 19%, var(--gradient-second-color) 64%, var(--gradient-third-color) 100%);*/
    background-color: var(--rodo-bg-color);
    width: 90%;
    max-width: 1280px;
    margin: 0 auto 0 auto;
    padding: 3vh 2vw;
    border: 2px solid black;
    border-radius: 1vw;
    box-shadow: 0 -2px 16px #1a2027c9;
    opacity: 0;
}

.rodo-x {
    position: absolute;
    top: 4vh;
    right: 6vw;
    width: 2vw;
    height: 2vw;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s;
}

.rodo-x:hover {
    color: var(--eight-bg-color);
}

.button-rodo-container {
    margin-top: 2vh;
    display: grid;
    justify-content: center;
}

.rodo-button {
    margin: 1vh auto;
    padding: 1vh 1vw;
    background-color: var(--first-bg-color);
    color: var(--sixth-bg-color);
    /*border: solid 2px black;*/
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 0px rgb(0 0 0 / 78%);
    transition: 0.3s;
    cursor: pointer;
}

.rodo-button:hover {
    background-color: var(--eight-bg-color);
}
